*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* styling for the logo name */
.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* Style for main navigation links */
.navbar-nav .nav-link {
    font-weight: 500;
}

/* Custom styles for product cards */
.card-img-top {
    height: 200px; 
    object-fit: contain; 
    background-color: white; 
}

/* Custom shadow effect for cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

/* Style the text in the footer */
footer a:hover {
    color: var(--bs-warning) !important; 
}

/* style for the Buy Now button in New Arrivals */
#new-arrivals-section .btn-primary {
    background-color: #ffc107; 
    border-color: #ffc107;
    color: #212529; 
}

#new-arrivals-section .btn-primary:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}